.WeightContainer {
  width:100%;
  background-color: #fbfbfb;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.custom-tooltip {
  background-color: #e60000;
  padding: 0.5rem;
  color: white;
  font-size: 0.8rem;
  margin-left: 2rem;
}

.WeightLegend {
  width: 90%;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.WeightTitle {
  font-size: 1rem;
  font-weight:500;
  padding-top: 10px;
}

.weight-text{
  padding: 0;
  margin: 0;
}
.WeightCircles {
  font-size: 0.9rem;
  font-weight: 500;
  color: #74798c;
  width: 18rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}
.WeightCircle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.weight-circle_black {
  width: 0.6rem;
  height: 0.6rem;
  background-color: black;
  border-radius: 0.3rem;
  margin-right: 5px;
}
.weight-circle_red {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #e60000;
  border-radius: 0.3rem;
  margin-right: 5px;
  
}
