@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
}

.error404{
    font-size: 200px;
}
.error-message{
    font-weight: 400;
}

.home-link {
    text-decoration:none;
    color: #ff6060;
    border-bottom: #ff6060;;
}