@import url("http://fonts.googleapis.com/css?family=Roboto");

.headContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #020203;
  box-shadow: 0px 4px 4px 0px #00000040;
  z-index: 20;
}

.headLogo {
  height: 60px;
  width: auto;
  padding: 10px;
}

.navContainer {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  width: 100%;
}

.header-link {
  font-family: Roboto;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  padding-left: 100px;
  width: 100%;

}

a:active {
  border-bottom: 3px solid red;
}
