@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html, body, #root {
  margin: 0;
  
  height: 100%;
  background-color: #ffffff;
  font-family: "Monteserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
 }

