.profilWrapper{
    display: flex;
    flex-direction: row;
}
/* .profilUser {
    padding: 20px;
  } */
.profilContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: fit-content;
}
  .graphContainer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;   
  }

.graphicsAll{
    display: flex;
    flex-direction: row;
}
  .graphicsContainer{
      display: flex;
      flex-direction: column;
      margin-right: 20px;
  }
.graphWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}  
.userName{
    color: #e60000;
}

.keyDataWrapper{
    display: flex;
    flex-direction: column;
    
}