.profilWrapper{
    display: flex;
    flex-direction: row;
}
.profilUser {
    padding: 20px;
  }
.profilContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
  .graphContainer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

.graphWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}  
